<tr>
  <td><%= post.occurred_on %></td>
  <td><%= truncate(post.body, length: 40) %></th>
  <td>
    <% if post.profiles.any? %>
      <% post.profiles.each do |p| %>
        <span class="badge bg-info"><%= p.name %></span>
      <% end %>
    <% else %>
        <span class="text-muted">指定なし</span>
    <% end %>
  </td>
  <td><%= link_to "詳細", post_path(post), class: "btn btn-sm btn-outline-secondary" %></td>
</tr>