<footer class="bg-light text-center py-3 mt-5 border-top">
  <div class="container">
    <p class="mb-1">&copy; 2025 SoYou</p>
  <div class="admin-login-link">
    <%= link_to "管理者ログイン", new_admin_session_path %>
  </div>
</footer>